{% extends "base.html" %}

{% block content %}

	{% block extra_css %}
		{% load static %}
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	{% endblock %}


<div class="page-header">
	{% if user.is_authenticated %}
	<a href="{% url 'blog:post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
	<a href="{% url 'blog:post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
	<p class="top-menu">Hello {{ user.username }} <small>(<a href="logout/">Log out</a>)</small></p>
	{% else %}
	<a href="login/" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
	{% endif %}
	<h1><a href="{% url 'blog:post_list' %}">Django Girls Blog</a></h1>
</div>
<div class="content container">
	<div class="row">
		<div class="col-md-8">
		{% block content_blog_app %}
		{% endblock %}
		</div>
	</div>
</div>
{% endblock %}