{% extends 'blog/base.html' %}

{% block content_blog_app %}
		<nav class="editingtools">
			<a class="btn btn-default" href="{% url 'blog:post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
			<a class="btn btn-default" href="{% url 'blog:post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
			{% if not post.published_date %}<a class="btn btn-default" href="{% url 'blog:post_publish' pk=post.pk %}"><span class="glyphicon glyphicon-upload"></a>{% endif %}
		</nav>
		{% if post.published_date %}<div class="date">published:{{ post.published_date }}</div>{% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
{% endblock %}